<div class="h-[90vh] flex justify-center items-center flex-col sm:flex-row">
      
  <div class="bg-gray-900 rounded-md bg-gray-800 shadow-lg h-[80vh]">
    <div class="sm:flex px-4 leading-none max-w-4xl">
      <div class="sm:flex-none flex justify-center sm:items-start items-center">
       <img
        src="https://image.tmdb.org/t/p/original{{actualmovie.poster_path}}"
        alt="pic"
        class="h-72 w-56 rounded-md shadow-2xl transform -translate-y-4 border-4 border-gray-300 shadow-lg"
      />           
      </div>

      <div class="flex-col text-white h-[80vh] lg:flex lg:justify-evenly">
        <div class="flex justify-center items-center">
          <h2 class="pl-4 pb-10 text-3xl font-bold text-center">{{actualmovie.title}}</h2>
        </div>
        
        <hr class="hr-text" data-content="">
        <div class="text-md flex justify-between px-4 my-2">
          <span class="font-bold ">{{actualmovie.runtime}} minutes</span>
          <div>
            <span *ngFor="let genre of actualmovie.genres" class="font-bold pr-2">{{genre.name}}</span>
          </div>
        </div>
        <p class="hidden md:block px-4 my-4 text-md text-left leading-7">{{actualmovie.overview}}</p>
        
        <p class="flex text-md px-4 my-2">
          Votes in Average: {{actualmovie.vote_average | number:'1.0-1'}}/10 
        </p>
        
        <div class="ml-3 text-xs flex justify-between items-center">
            <div (mouseenter)="showBuy = true; showRent = false"  class="border p-2 border-gray-200 rounded-md mr-3">Where to Buy the Movie?
              <div class="absolute"  *ngIf="showBuy == true">
                  <ul class="bg-black w-[10rem] sm:w-[39rem] h-[30rem] opacity-90 h-72 overflow-auto flex flex-wrap justify-center items-center relative -top-[32rem]" *ngIf="providers.rent; else notavailable" >
                    <i (click)="showBuy = false" class="absolute top-0 right-2 cursor-pointer text-xl">X</i>
                    <span class="absolute top-0 text-xl mb-5">Buy a Movie</span>
                    <li *ngFor="let providers of providers.buy" class="w-28 my-2 flex flex-col items-center text-center mt-10">
                      <div class="text-white text-md my-2 truncate w-[109px]">{{providers.provider_name}}</div>
                      <img class="w-12" src="https://www.themoviedb.org/t/p/original/{{providers.logo_path}}" alt="logo">
                    </li>
                 </ul>
              </div>
          </div>

          <div (mouseenter)="showRent = true;showBuy = false"  class="border p-2 border-gray-200 rounded-md">Where to Rent the Movie?
            <div class="absolute"  *ngIf="showRent == true">
                <ul class="bg-black w-[10rem] sm:w-[39rem] h-[30rem] opacity-90  overflow-auto flex flex-wrap justify-center items-center relative -top-[32rem] left-0 sm:-left-[16rem]" *ngIf="providers.rent; else notavailable"  >
                  <i (click)="showRent = false" class="absolute top-0 right-2 cursor-pointer text-xl">X</i>
                  <span class="absolute top-0 text-xl mb-5">Rent a Movie</span>
                  <li *ngFor="let providers of providers.rent" class="w-28 my-2 flex flex-col items-center text-center mt-10" >
                      <div class="text-white text-md my-2 truncate w-[109px] ">{{providers.provider_name}}</div>
                      <img class="w-12" src="https://www.themoviedb.org/t/p/original/{{providers.logo_path}}" alt="logo">
                  </li>
               </ul>
            </div>
        </div>
          <button type="button" class="border border-gray-200 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-red-900 focus:outline-none focus:shadow-outline">
            <a (click)="goToLink()"> Trailer
            </a>
          </button> 

          <ng-template #notavailable>
            <div class="w-[11em] bg-black relative -top-[90px] px-2 py-2" (mouseleave)="showBuy = false; showRent = false">
              <span> Sorry, this Movie is at the Moment not in Offer</span>
            </div>
          </ng-template>

        </div>
      </div>
    </div>
   
  </div>
</div>

