

    <ngx-slick-carousel  [config]="carouselmain">
      <div ngxSlickItem class="flex justify-center my-5" *ngFor="let image of this.trendingmovie">
        <img class="w-[30vw] object-contain" src="https://image.tmdb.org/t/p/original{{image.poster_path}}" alt="Trending Movie Slides">
      </div>
    </ngx-slick-carousel>

 
    <ngx-slick-carousel  [config]="carouselConfig">
      <div ngxSlickItem class="my-5"  *ngFor="let image of this.trendingmovie">
        <a routerLink="/movies/{{image.id}}">
          <img src="https://image.tmdb.org/t/p/original{{image.poster_path}}" alt="Trending Movie Slides">
        </a>
        <button type="button" class="slick-next">hiiiiiiiiiiiiii</button>
      </div>
    
    </ngx-slick-carousel>

    <ngx-slick-carousel [config]="carouselConfig">
      <div ngxSlickItem class="my-5" class="slide" *ngFor="let image of this.trendingtv">
        <a routerLink="/tvshow/{{image.id}}">
          <img src="https://image.tmdb.org/t/p/original{{image.poster_path}}" alt="Trending Movie Slides">
        </a>
      </div>
    </ngx-slick-carousel>
  

